<a href="https://colab.research.google.com/github/Valdini/COURSERA_CAPSTONE/blob/main/Data_Visualization_with_Python_Final_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd #importing pandas
df_data = pd.read_csv('https://cocl.us/datascience_survey_data',index_col=False) #reading data
df_data.columns = ['','Very interested','Somewhat interested','Not interested'] #setting/renaming table columns
df_data

                               ...  Not interested
0   Big Data (Spark / Hadoop)  ...             127
1  Data Analysis / Statistics  ...              60
2             Data Journalism  ...             610
3          Data Visualization  ...             102
4               Deep Learning  ...             136
5            Machine Learning  ...              74

[6 rows x 4 columns]